@import '../../App.scss';

.SectionButtons {
  background: none;
}

.SectionButton-list-item {
  background: $darkestBlue;
  height: 50px;
  width: 150px;
  border: 1px solid rgba($neon, 0.5);
  border-radius: 10px 10px 0 0;
  transition: 0.2s ease-in-out;
  font-family: 'PT Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  font-weight: 800;
}
.SectionButton-list {
  background-color: none;
}

.SectionButton-list-item:focus {
  outline: none;
  cursor: pointer;
}

.SectionButton-list-item:hover {
  cursor: pointer;
  color: $neon;
  background-color: rgba($medBlue, 0.4);
}

.SectionButton-list-active {
  background-color: $darkerBlue;
  color: $neon;
  border-bottom: none;
  &:hover {
    background-color: $lightestYellow;
  }
}

#sectionButton {
  width: 20%;
}
