@import '../../App.scss';

.section_wrapper {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  &_contents_result {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
  }
  &_contents_input {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2 {
      color: $white;
    }
    p {
      color: $lightestYellow;
    }
  }
  &_contents_info {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background: rgb(3, 20, 30);
    background: linear-gradient(
      0deg,
      rgba(3, 20, 30, 0.2) 0%,
      rgba(3, 20, 30, 0.8) 40%
    );
    width: 100%;
  }
  &_contents_info_5 {
    display: grid;
    background: rgb(3, 20, 30);
    background: linear-gradient(
      0deg,
      rgba(3, 20, 30, 0.2) 0%,
      rgba(3, 20, 30, 0.8) 40%
    );
    width: 100%;
  }
  &_contents_info_4 {
    display: grid;
    background: rgb(3, 20, 30);
    background: linear-gradient(
      0deg,
      rgba(3, 20, 30, 0.2) 0%,
      rgba(3, 20, 30, 0.8) 40%
    );
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
  }
}

.section_wrapper_contents_info_row_1 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
}
.section_wrapper_contents_info_row_2 {
  display: grid;
  grid-template-columns: 33% 33%;
  justify-content: center;
}

.section_wrapper_contents_info_col {
  padding: 30px 40px 50px 40px;
  margin-top: -30px;

  p {
    color: $white;
  }
  h3 {
    color: $lightestYellow;
  }
}

.calculation_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  label {
    margin: 20px 0;
    color: white;
    font-size: 0.8rem;
  }
  input {
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0px;
    outline: none;
    border: 1px solid rgba($neon, 0.5);
    background: none;
    color: white;
    font-family: 'PT Sans', sans-serif;
    transition: 0.3s ease-in-out;

    &:focus {
      -webkit-box-shadow: 0px 0px 10px 0px rgba($neon, 0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba($neon, 0.75);
      box-shadow: 0px 0px 10px 0px rgba($neon, 0.75);
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 10px 0px rgba($neon, 0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba($neon, 0.75);
      box-shadow: 0px 0px 10px 0px rgba($neon, 0.75);
    }
    &::placeholder {
      color: rgba($neon, 0.5);
      font-family: 'PT Sans', sans-serif;
      letter-spacing: 0.08rem;
      font-size: 0.7rem;
    }
  }
}

.intro_section_wrapper {
  background: rgb(3, 20, 30);
  background: linear-gradient(
    0deg,
    rgba(3, 20, 30, 0) 0%,
    rgba(3, 20, 30, 1) 100%
  );
  border: 1px solid rgba($neon, 0.5);
  border-top: none;
  margin-top: -5px;
}

.form_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  button {
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      -webkit-box-shadow: 0px 0px 10px 0px rgba($neon, 0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba($neon, 0.75);
      box-shadow: 0px 0px 10px 0px rgba($neon, 0.75);
    }
    &:focus {
      outline: none;
    }
    &:active {
      background: rgba($neon, 0.5);
    }
  }
}

.clear_button {
  background: none;
  border: 1px solid rgba($neon, 0.5);
  color: $neon;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  &:focus {
  }
}
.submit_button {
  background: $neon;
  border: none;
  color: $darkBlue;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

.chart_container {
  height: 400px;
  width: 400px;
}

.result_container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px 20px;
  min-height: 200px;

  &_col_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }
  &_col_2 {
    margin-right: 20px;
  }
}

.result_header {
  color: $medBlue;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 80px;
}
#result,
#bounceResult,
#churnResult,
#NPSResult {
  font-size: 2rem;
  color: white;
}

.wave {
  margin-bottom: -5px;
  overflow: hidden;
}

#wave {
  opacity: 0.8;
}
rect {
  text {
    fill: white;
  }
}

.result_message_container {
  .result_message_header {
    color: white;
  }
  .result_message {
    color: white;
  }
  .result_image {
    width: 100px;
  }
}

@media screen and (max-width: 1250px) {
  .section_wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .result_container {
    width: 100%;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 1000px) {
  .section_wrapper {
    grid-template-columns: 100%;
    &_contents_info {
      grid-template-columns: auto;
    }
    &_contents_info_4 {
      grid-template-columns: auto;
    }
  }
  .section_wrapper_contents_info_row_1 {
    grid-template-columns: auto;
  }
  .section_wrapper_contents_info_row_2 {
    grid-template-columns: auto;
  }
  .section_wrapper_contents_info_col {
    padding: 20px 20px 20px 20px;
  }
}
