@import '../../App.scss';

.NavBar {
  display: flex;
  justify-content: center;
  top: 0;
  padding: 0 0 0 0;
  width: 100%;

  a {
    text-decoration: none;
  }
}

.nav_wrapper {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  .nav_links a {
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'PT Sans', sans-serif;
  }
}
