@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  font-size: 16px;
}

p {
  font-size: 0.8rem;
  color: white;
}
h2 {
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2rem;
  font-weight: 800;
  font-family: 'Prompt', sans-serif;
  font-size: 2rem;
}
h3 {
  margin: 0.5rem 0;
  text-transform: uppercase;
  color: #80ffdb;
  letter-spacing: 0.2rem;
  font-weight: 800;
  font-family: 'Prompt', sans-serif;
}
body {
  background: rgb(116, 0, 184);
  background: linear-gradient(
    90deg,
    rgba(116, 0, 184, 1) 0%,
    rgba(94, 96, 206, 1) 50%,
    rgba(116, 0, 184, 1) 100%
  );
  background-position: fixed;
  font-family: 'PT Sans', sans-serif;
}

.accordion_content {
  padding: 20px;
}

// Media

@media screen and (max-width: 1300px) {
  .SectionButtons {
    width: 80vw;
  }
  .accordion_section {
    width: 80vw;
  }
  .nav_wrapper {
    width: 80vw;
  }
  .footer_wrapper {
    width: 80vw;
  }
}

@media screen and (max-width: 1250px) {
  .accordion_content {
    h2 {
      text-align: center;
    }
  }
  .SectionButton-list-item {
    width: 12vw;
  }
}

@media screen and (max-width: 600px) {
  .SectionButtons {
    width: 100vw;
  }
  .SectionButton-list-item {
    width: 100%;
    border-radius: 0px;
  }
  .accordion_section {
    width: 100vw;
  }
  .nav_wrapper {
    width: 100%;
    padding: 20px 20px 0 20px;
  }
  .footer_wrapper {
    width: 100%;
    padding: 0 20px 20px 20px;
  }
}
