@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  background: rgb(143, 247, 242);
  background: linear-gradient(
    124deg,
    rgba(143, 247, 242, 1) 0%,
    rgba(221, 241, 128, 1) 100%
  );
  font-family: 'PT Sans', sans-serif;
}
