@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,700;0,900;1,400&family=Francois+One&display=swap');
// Variables
$white: #ffffff;
$black: #000000;
$darkestBlue: #020a0f;
$darkerBlue: #03141e;
$darkBlue: #051e2d;
$medBlue: #06273c;
$medGreen: #215954;
$lightGreen: #3b8b6c;
$lighterGreen: #56bd84;
$lightestGreen: #70ee9c;
$neon: #a2ff00;
$yellow: #cbff70;
$lightestYellow: #f0ffd6;

$fontBody: 'PT Sans', sans-serif;
$fontHeader: 'Chivo', sans-serif;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  font-size: 16px;
}

#root {
  background-image: url('./assets/background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background: rgb(0, 0, 0);
  // background: linear-gradient(
  //   0deg,
  //   rgba(0, 0, 0, 1) 0%,
  //   rgba(3, 20, 30, 1) 100%
  // );
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
}

p {
  font-size: 0.8rem;
  color: white;
  font-family: $fontBody;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
}
h2 {
  margin: 0 0 0.5rem 0;
  color: white;
  letter-spacing: 0.2rem;
  font-weight: 400;
  font-family: $fontHeader;
  font-size: 2rem;
}
h3 {
  margin: 0.5rem 0;
  color: #80ffdb;
  letter-spacing: 0.2rem;
  font-weight: 400;
  font-family: $fontHeader;
}
body {
  // background: rgb(116, 0, 184);
  // background: linear-gradient(
  //   90deg,
  //   rgba(116, 0, 184, 1) 0%,
  //   rgba(94, 96, 206, 1) 50%,
  //   rgba(116, 0, 184, 1) 100%
  // );
  // background: rgb(0, 0, 0);
  // background: linear-gradient(
  //   90deg,
  //   rgba(0, 0, 0, 1) 0%,
  //   rgba(6, 39, 60, 1) 50%,
  //   rgba(0, 0, 0, 1) 100%
  // );

  background-position: fixed;
  font-family: 'PT Sans', sans-serif;
  height: 100vh;
}

.accordion_content {
  padding: 20px;
  h2 {
    margin-left: 75px;
  }
}

// Media

@media screen and (max-width: 1300px) {
  .SectionButtons {
    width: 80vw;
  }
  .accordion_section {
    width: 80vw;
  }
  .nav_wrapper {
    width: 80vw;
  }
  .footer_wrapper {
    width: 80vw;
  }
}

@media screen and (max-width: 1250px) {
  .accordion_content {
    h2 {
      text-align: center;
    }
  }
  .SectionButton-list-item {
    width: 12vw;
  }
}

@media screen and (max-width: 600px) {
  .SectionButtons {
    width: 100vw;
  }
  .SectionButton-list-item {
    width: 100%;
    border-radius: 0px;
  }
  .accordion_section {
    width: 100vw;
  }
  .nav_wrapper {
    width: 100%;
    padding: 20px 20px 0 20px;
  }
  .footer_wrapper {
    width: 100%;
    padding: 0 20px 20px 20px;
  }
}
