@import '../../App.scss';

.accordion_section {
  background: none;
  border-radius: 20px;
  width: 1200px;
  margin: 0px 0px;

  &_open {
    padding: 5px 0 0 0;
    transition: 0.5s ease-in-out;
    border: 1px solid rgba($neon, 0.5);
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: inset 0px 6px 20px -8px rgba($black, 1);
    -moz-box-shadow: inset 0px 6px 20px -8px rgba($black, 1);
    box-shadow: inset 0px 6px 20px -8px rgba($black, 1);
  }
  span {
    margin: 0px 10px;
    font-weight: 500;
    font-size: 1rem;
  }
}
.accordion_label {
  padding: 5px 0;
  cursor: pointer;
  transition: 1s ease-in-out;
  background-color: none;
  border-bottom: 3px solid $neon;
  font-family: 'PT Sans', sans-serif;
  font-weight: 800;
  color: $neon;
  letter-spacing: 0.1rem;
  vertical-align: middle;
  border-right: 1px solid rgba($neon, 0.5);
  border-left: 1px solid rgba($neon, 0.5);
  &_text {
    float: left;
    transition: 1s ease-in-out;
  }
}
